<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connection_string" connectionString="Data Source = DESKTOP-ERFTJDA; Initial Catalog = RailwayCompany; Integrated Security = True;"/>
	</connectionStrings>	
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<!--1. Stations and routes-->
	<!--<appSettings>
		<add key="parent_query" value="SELECT * FROM RailwayStation"/>
		<add key="child_query" value="SELECT * FROM Route"/>
		<add key="parent_table" value="RailwayStation"/>
		<add key="child_table" value="Route"/>
		<add key="parent_pk_column" value="Location"/>
		<add key="child_fk_column" value="Source"/>
	</appSettings>-->
	
	<!--2. Routes and Trains -->

	<appSettings>
		<add key="parent_query" value="SELECT * FROM Route"/>
		<add key="child_query" value="SELECT * FROM Train"/>
		<add key="parent_table" value="Route"/>
		<add key="child_table" value="Train"/>
		<add key="parent_pk_column" value="RouteID"/>
		<add key="child_fk_column" value="RouteID"/>
	</appSettings>
	
</configuration>